<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Upcoming Movie Timeline</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'upcomingmovie/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kalam:wght@300&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    {# narvigation bar에 가려진 영역 #}
    <div class="unvisible">
    </div>

    {# narvigation bar 영역#}
    <nav class="narbar navbar-dark bg-dark fixed-top">
      <div class="navcontent">
        <h1 class="pagename">Upcoming movie timeline</h1>
        <h3 class="subpagename">Which movie are you interested in?</h3>
        <form class="search" action="{% url 'search:searchMovie'%}" method="get">
          {% csrf_token %}
          <input class="searchText" type="search form-control mr-sm-2" name="q">
          <button type="submit" class="searchButton">Search</button>
        </form>
      </div>
    </nav>
    {% block body_block %}
    {# contents 영역#}
    <div>
      {% for movie in movies %}
      <div class="container contents">
        <div class ="listItem" align="center">
          <button type="button" class="btn" data-toggle="modal" data-target="#modal-default{{movie.pk}}"><h3>{{ movie.title }}</h3></button>
          <p>{{ movie.date }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}




    <!-- Modal -->
    <div class="modal fade" id="modal-default{{movie.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ movie.title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ movie.date }}
            <p>nothing.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>




  </body>
</html>
